<font color=Green>
    
# **3.4 Indexaci√≥n y filtrado**

</font>

In [17]:
import numpy as np
import pandas as pd

In [18]:
#genra un datafrma de 10 filas y dos columnas
np.random.randint(low=0, high=10, size=(10, 2))

array([[0, 3],
       [5, 9],
       [5, 7],
       [2, 2],
       [9, 0],
       [7, 4],
       [9, 3],
       [1, 3],
       [2, 0],
       [3, 3]])

In [19]:
df = pd.DataFrame(
                  np.random.randint(low=0, high=10, size=(10, 2)),
                  index=['a','b','c','d','e','f','g','h','i','j'],
                  columns=["Cod_empleado","Calificacion"]
                 )
df

   Cod_empleado  Calificacion
a             1             5
b             0             4
c             0             5
d             3             9
e             6             6
f             9             3
g             3             7
h             0             6
i             5             8
j             5             2

In [20]:
df['Calificacion']

a    5
b    4
c    5
d    9
e    6
f    3
g    7
h    6
i    8
j    2
Name: Calificacion, dtype: int64

In [40]:
#la funcion loc tiene parametros 1 indice 2 nombre de columna
g= df.loc['a','Calificacion']
g

5

In [35]:
#la funcion iloc con el numero de indice y el numero de indice de la columna
s= df.iloc[1,1]
s

4

### <font color=#003d5c>_Seleccionar con `.loc`_ </font>

In [9]:
df.loc['a']

Cod_empleado    6
Calificacion    6
Name: a, dtype: int64

In [46]:
#valor inicial del indice por nombre y su final
df.loc['b':'f']

   Cod_empleado  Calificacion
b             0             4
c             0             5
d             3             9
e             6             6
f             9             3

In [47]:
#para especifoca losindices es conel declarandolo con.index
df.loc[df.index[3:7],'Cod_empleado']

d    3
e    6
f    9
g    3
Name: Cod_empleado, dtype: int64

### <font color=#003d5c>_Seleccionar con `.iloc`_ </font>

In [48]:
#indices numericos
df.iloc[0:3]

   Cod_empleado  Calificacion
a             1             5
b             0             4
c             0             5

In [49]:
df.iloc[3:]

   Cod_empleado  Calificacion
d             3             9
e             6             6
f             9             3
g             3             7
h             0             6
i             5             8
j             5             2